:root {
  --color-black-100: #222;
  --color-black-200: #333;
  --color-grey-100: #666;
  --color-grey-200: #999;
  --color-white: #fff;

  --color-bg: var(--color-white);
  --color-text: var(--color-black-100);
  --color-highlight-1: var(--color-grey-100);
  --color-highlight-2: var(--color-grey-200);
}

@media (prefers-color-scheme: light) {
  :root {
    --color-bg: var(--color-white);
    --color-text: var(--color-black-100);
    --color-highlight-1: var(--color-grey-100);
    --color-highlight-2: var(--color-grey-200);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-bg: var(--color-black-200);
    --color-text: var(--color-white);
    --color-highlight-1: var(--color-grey-200);
    --color-highlight-2: var(--color-grey-100);
  }
}

html,
body {
  font-family: 'Libre Baskerville', serif;
  background-color: var(--color-bg);
  color: var(--color-text);
  font-weight: 200;
  height: 100%;
  line-height: 1.5;
}

#__next {
  height: 100%;
}

a {
  color: var(--color-grey-200);
  text-decoration: none;
  transition: color 0.3s ease;
}

a:active,
a:hover {
  color: var(--color-grey-200);
}

.youtube-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  overflow: hidden;
  margin-bottom: 50px;
}

.youtube-container iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
